html,body{
	color:black;
	height:100%;
	font-family: 'Roboto', sans-serif;
	background-color:white ;


}
.navbar{
	background-color: black;
}
.navbar-nav{
	margin-right: 3rem;
}

h1{
	border-color: black;
	border-width: 2rem;
}

.navbar-brand{
	height:2.5rem;
	width:5rem;
	background-color:white;
	margin:0;
	border: 3px solid black;

}
.jumbotron{
	background-color:black;
	margin:0;
	color:white;
}
hr{
  border-top: 3px solid black;
  margin:0;
}
.display-4{
	margin-left: 1rem;

}
form{
	margin:2rem 30% 2rem 30%;
	width:40%;
	color:solid black;
}

#tagadd{
	display: none;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  color:solid black;
  background-color:white ;
  background-position: 10px 10px; 
  
}

.card{
	width:500px;
	margin:16px auto;
	background-color:black;
	color:white;
}
.error{
	color:red;
}
#more{
	display: none;
}
.card .btn{
	margin-left:30%;
}
.container{
	
	margin:3rem auto 0 auto;
	height:auto;
}

.btn{
	margin:8px 2px 8px 2px;
}
h5{
	margin:0;
}